<mat-form-field [style]="getStyle()">
  <mat-chip-list #chipList aria-label="Item selection">
    <mat-chip *ngFor="let item of data.model.value" [removable]="!data.config.disable" (removed)="remove(item)">
      {{item}} <mat-icon matChipRemove *ngIf="!data.config.disable">cancel</mat-icon>
    </mat-chip>
    <br>
    <input [placeholder]="data.config.title" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" [disabled]="data.config.disable">
  </mat-chip-list>
</mat-form-field>

