.form-row-wrapper {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}