.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: start;
    align-items: flex-start;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}

es-field-wrapper {
    padding-bottom: 8px;
}