<mat-form-field [style]="getStyle()">
    <mat-label>{{getTitle()}}</mat-label>
    <input matInput *ngIf="!data.config.showTextArea" [value]="getValue()" [disabled]="isDisabled()" (keyup)="onTextChange($event)">
    <textarea matInput *ngIf="data.config.showTextArea" 
        [value]="getValue()" 
        [disabled]="isDisabled()" 
        [mat-autosize]="true"
        [matAutosizeMinRows]="data.config.textAreaMinRows"
        [matAutosizeMaxRows]="data.config.textAreaMaxRows"
        (keyup)="onTextChange($event)"></textarea>
    <button mat-button *ngIf="getValue() && data.config.showClearTextButton" matSuffix mat-icon-button aria-label="Clear" (click)="setValue('')">
        <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="end" *ngIf="data.config.stringLimit > 0">{{getValue().length}} / {{data.config.stringLimit}}</mat-hint>
</mat-form-field>